    @charset "UTF-8";
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    
    nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 150px;
    }
    
    nav ul {
        display: flex;
        flex-flow: row;
        list-style: none;
        justify-content: flex-end;
        margin: 0;
    }
    
    nav li {
        padding: 15px 5px 0;
    }