    @charset "UTF-8";
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    /* header */
    nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 150px;
    }
    nav ul {
        display: flex;
        flex-flow: row;
        list-style: none;
        justify-content: flex-end;
        margin: 0;
    }
    nav li {
        padding: 15px 5px 0;
    }
    #clover{
        background-color: rgba(220, 220, 220, 0.836);
        border-radius: 100%;
    }
    /* main */
    main{
        padding: 0;
    }
    /* footer */
    footer {
        color:#ffffff;
        background-color: #000000;
        padding: 10px 0 0 0 ;
    }